<h1>Posts</h1>  
<hr>
<table class="table">
    <thead>
      <tr>
        <th>Post id</th>
        <th>Overtime Request</th>
        <th>Date</th>
        <th>Last name</th>
        <th>Rationale</th>
        <th>Status</th>
        <th>Edit Entry</th>
        <th>Delete Entry</th>
      </tr>
    </thead>
    <tbody id="posts" >
   <%= render @posts %>     
    </tbody>
  </table>
<div id="paginator">
  <%= paginate @posts, remote: true %>
</div>